*{
    margin: 0;
}

.nav-bar{
    background: #fccb90;
    
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.items{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-bar-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-bar-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-bar-items li{
    display: inline;
    padding-right: 10px;
    text-align: center;
}

.nav-bar-items a{
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
}

.search{
    position: relative;
    display: flex;
    align-items: center;
    right: 10px;
}

.input-search{
    border-radius: 8px;
    border-color: transparent;
}

.main{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post{
    position: relative;
    top: 50px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 30px;
    border: 2px solid #d8363a;
}

.form-post{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.form-main{
    position: relative;
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.input-form-post{
    border-radius: 11px;
    width: 50%;
    margin-left: 5px;
}

.submit-form-post{
    margin-top: 10px;
    border-radius: 7px;
    border-color: 0;
}

.lbl-form{
    margin-top: 10px;
    font-size: 2.5em;
}
.message-danger{
    color: red;
    font-size: 1.1em;
    margin-bottom: 4px;
  }